body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

/* Header attributes */
header {
    position: fixed;
    left: 10;
    top: 100;

}

/* Footer attributes */
footer {
    background-color: #202020;
    color: lightblue;
    text-align: center;
    padding: 2px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    grid-area: footer;
}

/* Attributes of the board */
#board {
    height: 540px;
    width: 630px;
    background-color: blue;
    border: 10px solid navy;
    
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

/* Sizes of the tiles */
.tile {
    height: 70px;
    width: 70px;
    margin: 5px;

    /* Circle */
    background-color: white;
    border-radius: 50%;
    border: 5px solid navy;
}


/* User One attributes*/
.userfact {
    background-color: aqua;
    text-align: left;
    border: 2px solid black;
    border-radius: 12px;
    padding: 0.2px;

}

/* User Two attributes, I have moved this to the right */
.userfact2 {
    background-color: rebeccapurple;
    text-align: right;
    position: absolute;
    top: 8px;
    right: 16px;
    width: 300px;
    border: 2px solid black;
    border-radius: 12px;
    padding: 0.2px;

}




/* Player One Piece */
.red-piece {
    background-image: url(balls/6.png);
}


/* Player Two Piece */
.yellow-piece {
    background-image: url(balls/1.png);
}

